.popup__close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -45px;
  right: -45px;
  background: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: none;
  transition: opacity 0.2s ease-in;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 10px;
  }
}