:root {
  --dark-bg: #000000;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --light-bg: #ffffff;
  --text: #ffffff;
  --black-text: #000000;
  --footer-text: #545454;
  --popup-field: rgba(0, 0, 0, 0.2);
  --decoration: rgba(84, 84, 84, 0.7);
  --light-field: #CCCCCC;
  --invalid: #FF0000;
}