.popup__container_image {
  position: relative;
  margin: 0;
  background-color: var(--dark-bg);
  width: fit-content;
}

@media screen and (max-width: 320px) {
  .popup__container_image {
    margin: auto 16px;
    padding: 15px 22px 25px 22px;
  }
}